<section id="section">
<div class="container-fluid py-1 mt-7 mb-12 ms-6">
  <div class="row mb-3">
    <div class="col-12 col-md-8 offset-md-2">
      <div class="card shadow-xl bg-gradient-dark">
        <div class="card-header bg-gradient-dark">
          <h3 class="gradient-text-primary-light ubuntu-condensed-bold">Register</h3>
          <div class="btn-group">
            <a routerLink="/login" class="btn custom-bg-primary-light rounded text-white dm-sans-bold" title="Do you need to log in instead?">Login</a>
          </div>
        </div>
        <div class="card-body p-3">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="row m-2">
              <div class="col-12 col-md-4">
                <div class="form-group mb-2">
                  <label for="name" class="text-gradient text-primary roboto-bold">Name</label>
                  <input type="text" name="name" class="form-control color-background bg-gradient-dark text-white" formControlName="name" id="name" placeholder="Name" required />
                </div>
              </div>
              <div class="col-12 col-md-4">
                <div class="form-group mb-2">
                  <label for="username" class="text-gradient text-primary roboto-bold">Username</label>
                  <input type="text" name="username" class="form-control color-background bg-gradient-dark text-white" formControlName="username" id="username" placeholder="Username" required />
                </div>
              </div>
              <div class="col-12 col-md-4">
                <div class="form-group mb-2">
                  <label for="email" class="text-gradient text-primary roboto-bold">Email</label>
                  <input type="email" name="email" class="form-control color-background bg-gradient-dark text-white" formControlName="email" id="email" placeholder="Email" required />
                </div>
              </div>
            </div>
            <div class="row m-2">
              <div class="col-12 col-md-5">
                <div class="password-wrapper">
                <div class="form-group mb-2">
                  <label for="password" class="text-gradient text-primary">Password</label>
                  <input
                    [type]="showPassword ? 'text' : 'password'"
                    class="form-control color-background bg-gradient-dark text-white"
                    formControlName="password"
                    placeholder="Password"
                    required />
                  <button type="button" (click)="togglePassword()" class="toggle-btn"
                          [ngClass]="{ 'secure': !showPassword, 'insecure': showPassword }">
                    <i [class]="showPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
                  </button>
                </div>
                </div>
              </div>
              <div class="col-12 col-md-2">
                <div class="text-center">
                  <h5 class="text-primary roboto-bold">Match</h5>
                    <i *ngIf="passwordsMatch()" class="fa-solid fa-check text-success"></i>
                </div>
              </div>
              <div class="col-12 col-md-5">
                <div class="password-wrapper">
                <div class="form-group mb-2">
                  <label for="confirm_password" class="text-gradient text-primary roboto-bold">Confirm Password</label>
                  <input
                    [type]="showConfirmPassword ? 'text' : 'password'"
                    class="form-control color-background bg-gradient-dark text-white"
                    formControlName="confirm_password"
                    placeholder="Confirm Password"
                    required />
                  <button type="button" (click)="toggleConfirmPasswordVisibility()" class="toggle-btn"
                          [ngClass]="{ 'secure': !showConfirmPassword, 'insecure': showConfirmPassword }">
                      <i [class]="showConfirmPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
                  </button>
                </div>
                </div>
              </div>
            </div>
            <div class="m-2 mt-3 mb-3">
              <button type="submit" class="btn btn-block text-white custom-bg-primary w-100 d-block dm-sans-bold text-2xl">Register</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
