@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu+Condensed&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


/*START Fonts*/


.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}
.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.ubuntu-condensed-regular {
  font-family: "Ubuntu Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.ubuntu-condensed-bold {
  font-family: "Ubuntu Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.dm-sans-bold {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
.dm-sans-medium {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.dm-sans-regular {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.dm-sans-bold-italic {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: italic;
}
.dm-sans-medium-italic {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
}
.dm-sans-regular-italic {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: italic;
  font-variation-settings: "wdth" 100;
}
.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
  font-variation-settings: "wdth" 100;
}
.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
  font-variation-settings: "wdth" 100;
}


/*END Fonts*/


body {
  padding: 20px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/*START Custom Colors*/

.custom-bg-primary-light {
  background-image: linear-gradient(120deg, #4a00e0, dodgerblue,#4a00e0) !important;
  background-image: -webkit-linear-gradient(120deg, #4a00e0, dodgerblue, #4a00e0) !important;
  background-image: -moz-linear-gradient(120deg, #4a00e0, dodgerblue,#4a00e0) !important;
  background-image: -ms-linear-gradient(120deg, #4a00e0, dodgerblue,#4a00e0) !important;
}
.custom-bg-primary {
  background-image: linear-gradient(120deg, #4a00e0, #8e2de2,#4a00e0) !important;
  background-image: -webkit-linear-gradient(120deg, #4a00e0, #8e2de2,#4a00e0) !important;
  background-image: -moz-linear-gradient(120deg, #4a00e0, #8e2de2,#4a00e0) !important;
  background-image: -ms-linear-gradient(120deg, #4a00e0, #8e2de2,#4a00e0) !important;
}
.custom-bg-success {
  background-image: linear-gradient(120deg, #11998e, #38ef7d, #11998e) !important;
  background-image: -webkit-linear-gradient(120deg, #11998e, #38ef7d, #11998e) !important;
  background-image: -moz-linear-gradient(120deg, #11998e, #38ef7d, #11998e) !important;
  background-image: -ms-linear-gradient(120deg, #11998e, #38ef7d, #11998e) !important;
}
.custom-bg-danger {
  background-image: linear-gradient(120deg, #dd2476, #ff512f, #dd2476) !important;
  background-image: -webkit-linear-gradient(120deg, #dd2476, #ff512f, #dd2476) !important;
  background-image: -moz-linear-gradient(120deg, #dd2476, #ff512f, #dd2476) !important;
  background-image: -ms-linear-gradient(120deg, #dd2476, #ff512f, #dd2476) !important;
}
.custom-bg-info {
  background-image: linear-gradient(120deg, #00c6ff, #0072ff, #00c6ff) !important;
  background-image: -webkit-linear-gradient(120deg, #00c6ff, #0072ff, #00c6ff) !important;
  background-image: -moz-linear-gradient(120deg, #00c6ff, #0072ff, #00c6ff) !important;
  background-image: -ms-linear-gradient(120deg, #00c6ff, #0072ff, #00c6ff) !important;
}
.custom-bg-warning {
  background-image: linear-gradient(120deg, #f12711, #f5af19, #f12711) !important;
  background-image: -webkit-linear-gradient(120deg, #f12711, #f5af19, #f12711) !important;
  background-image: -moz-linear-gradient(120deg, #f12711, #f5af19, #f12711) !important;
  background-image: -ms-linear-gradient(120deg, #f12711, #f5af19, #f12711) !important;
}
.custom-bg-dark {
  background-image: linear-gradient(120deg, #000000, #434343,#000000) !important;
  background-image: -webkit-linear-gradient(120deg, #000000, #434343,#000000) !important;
  background-image: -moz-linear-gradient(120deg, #000000, #434343,#000000) !important;
  background-image: -ms-linear-gradient(120deg, #000000, #434343,#000000) !important;
}
.custom-bg-lighter-dark {
  background-image: linear-gradient(120deg, #222222, #434343,#222222) !important;
  background-image: -webkit-linear-gradient(120deg, #222222, #434343,#222222) !important;
  background-image: -moz-linear-gradient(120deg, #222222, #434343,#222222) !important;
  background-image: -ms-linear-gradient(120deg, #222222, #434343,#222222) !important;
}
.custom-bg-primary-secondary {
  background-image: linear-gradient(120deg, #833ab4, #fd1d1d, #fcb045) !important;
  background-image: -webkit-linear-gradient(120deg, #833ab4, #fd1d1d, #fcb045) !important;
  background-image: -moz-linear-gradient(120deg, #833ab4, #fd1d1d, #fcb045) !important;
  background-image: -ms-linear-gradient(120deg, #833ab4, #fd1d1d, #fcb045) !important;
}
.custom-bg-grey {
  background-image: linear-gradient(120deg, #232526, #414345) !important;
  background-image: -webkit-linear-gradient(120deg, #232526, #414345) !important;
  background-image: -moz-linear-gradient(120deg, #232526, #414345) !important;
  background-image: -ms-linear-gradient(120deg, #232526, #414345) !important;
}
.gradient-text-primary-secondary {
  background-image: linear-gradient(120deg, #833ab4, #fd1d1d, #fcb045) !important;
  background-image: -webkit-linear-gradient(120deg, #833ab4, #fd1d1d, #fcb045) !important;
  background-image: -moz-linear-gradient(120deg, #833ab4, #fd1d1d, #fcb045) !important;
  background-image: -ms-linear-gradient(120deg, #833ab4, #fd1d1d, #fcb045) !important;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent !important;
  background-clip: text;
  color: transparent;
}
.gradient-text-primary {
  background-image: linear-gradient(120deg, dodgerblue, #4a00e0) !important;
  background-image: -webkit-linear-gradient(120deg, dodgerblue, #4a00e0) !important;
  background-image: -moz-linear-gradient(120deg, dodgerblue, #4a00e0) !important;
  background-image: -ms-linear-gradient(120deg, dodgerblue, #4a00e0) !important;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent !important;
  background-clip: text;
  color: transparent;
}
.gradient-text-primary-light {
  background-image: linear-gradient(120deg, dodgerblue, #4a00e0, dodgerblue) !important;
  background-image: -webkit-linear-gradient(120deg, dodgerblue, #4a00e0, dodgerblue) !important;
  background-image: -moz-linear-gradient(120deg, dodgerblue, #4a00e0, dodgerblue) !important;
  background-image: -ms-linear-gradient(120deg, dodgerblue, #4a00e0, dodgerblue) !important;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent !important;
  background-clip: text;
  color: transparent;
}
.gradient-text-info-light {
  background-image: linear-gradient(120deg, dodgerblue, skyblue, #eef2f3) !important;
  background-image: -webkit-linear-gradient(120deg, dodgerblue, skyblue, #eef2f3) !important;
  background-image: -moz-linear-gradient(120deg, dodgerblue, skyblue, #eef2f3) !important;
  background-image: -ms-linear-gradient(120deg, dodgerblue, skyblue, #eef2f3) !important;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent !important;
  background-clip: text;
  color: transparent;
}
.gradient-text-white {
  background-image: linear-gradient(120deg, #eef2f3, #8790ab, #eef2f3) !important;
  background-image: -webkit-linear-gradient(120deg, #eef2f3, #8790ab, #eef2f3) !important;
  background-image: -moz-linear-gradient(120deg, #eef2f3, #8790ab, #eef2f3) !important;
  background-image: -ms-linear-gradient(120deg, #eef2f3, #8790ab, #eef2f3) !important;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent !important;
  background-clip: text;
  color: transparent;
}
.gradient-text-success {
  background-image: linear-gradient(120deg, #11998e, #38ef7d, #11998e) !important;
  background-image: -webkit-linear-gradient(120deg, #11998e, #38ef7d, #11998e) !important;
  background-image: -moz-linear-gradient(120deg, #11998e, #38ef7d, #11998e) !important;
  background-image: -ms-linear-gradient(120deg, #11998e, #38ef7d, #11998e) !important;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.gradient-text-info {
  background-image: linear-gradient(120deg, #00c6ff, #0072ff, #00c6ff) !important;
  background-image: -webkit-linear-gradient(120deg, #00c6ff, #0072ff, #00c6ff) !important;
  background-image: -moz-linear-gradient(120deg, #00c6ff, #0072ff, #00c6ff) !important;
  background-image: -ms-linear-gradient(120deg, #00c6ff, #0072ff, #00c6ff) !important;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.gradient-text-warning {
  background-image: linear-gradient(120deg, #f12711, #f5af19, #f12711) !important;
  background-image: -webkit-linear-gradient(120deg, #f12711, #f5af19, #f12711) !important;
  background-image: -moz-linear-gradient(120deg, #f12711, #f5af19, #f12711) !important;
  background-image: -ms-linear-gradient(120deg, #f12711, #f5af19, #f12711) !important;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.gradient-text-danger {
  background-image: linear-gradient(120deg, #dd2476, #ff512f, #dd2476) !important;
  background-image: -webkit-linear-gradient(120deg, #dd2476, #ff512f, #dd2476) !important;
  background-image: -moz-linear-gradient(120deg, #dd2476, #ff512f, #dd2476) !important;
  background-image: -ms-linear-gradient(120deg, #dd2476, #ff512f, #dd2476) !important;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

/*END Custom Colors*/
.card-header {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}
#sidenav-collapse-main > ul > li:nth-child(1) > a > div i:before,
#sidenav-collapse-main > ul > li:nth-child(1) > a > div i:after,
#sidenav-collapse-main > ul > li:nth-child(1) > a > div i {
  color: #fff !important;
  background-color: #000 !important;
}
#sidenav-collapse-main > ul > li:nth-child(1) > a > span:after {
  background-color: #fff !important;
  color: #fff !important;
}
#sidenav-collapse-main > ul > li:nth-child(1) > a > span:before,
#sidenav-collapse-main > ul > li:nth-child(1) > a > span:after,
#sidenav-collapse-main > ul > li:nth-child(1) > a div > i {
  color: #fff !important;
}
