
  <div class="container py-1 mt-3 mb-3 ms-4">
    <div class="row ms-12">
      <div class="col-12 col-md-12">
        <div class="row">
          <div class="col-12 col-md-3">
                <div class="card bg-gradient-dark shadow-xl">
                  <div class="card-body text-center">
                    <h1 class="text-gradient text-primary"><span *ngIf="userCount">{{userCount}}</span> </h1>
                    <h6 class="mb-0 font-weight-bolder text-white roboto-bold">Users</h6>
                    <p class="opacity-8 mb-0 text-sm text-primary roboto-bold">Registered</p>
                  </div>
                </div>
              </div>
          <div class="col-12 col-md-3">
            <div class="card bg-gradient-dark shadow-xl">
              <div class="card-body text-center">
                <h1 class="text-gradient text-primary"><span>21</span> </h1>
                <h6 class="mb-0 font-weight-bolder text-white roboto-bold">Posts</h6>
                <p class="opacity-8 mb-0 text-sm text-primary roboto-bold">Blog</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-3">
            <div class="card bg-gradient-dark shadow-xl">
              <div class="card-body text-center">
                <h1 class="text-gradient text-primary"><span>21</span> </h1>
                <h6 class="mb-0 font-weight-bolder text-white roboto-bold">Comments</h6>
                <p class="opacity-8 mb-0 text-sm text-primary roboto-bold">Blog</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-3">
            <div class="card bg-gradient-dark shadow-xl">
              <div class="card-body text-center">
                <h1 class="text-gradient text-primary"><span>21</span> </h1>
                <h6 class="mb-0 font-weight-bolder text-white roboto-bold">Living Room</h6>
                <p class="opacity-8 mb-0 text-sm text-primary roboto-bold">Temperature</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

